<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<body>
    <div id="header"><span id="title"></span>
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">
    <form method="POST" action="/register/register/forget_password/" onsubmit="return check(this)">
        {% csrf_token %}
        <div id="content">
            <div id="content1">
                <p id="logo1">Forget Password</p>
                E-mail Id:<br />
                <input type="email" name="email" id="email" />
                <br />
                <div id="but"><br />
                <input type="submit" value="Continue" />
                <br />
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function check(form)
    {
        email = document.getElementById("email");
        if(form.email.value == "")
        {
            M.toast({html : 'Enter E-mail'});
            return false;
        }
    }
</script>
</html>