<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <body>
    <div id="header"><span id="title"></span>
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">
    <form method="POST" action="/register/register/login/" onsubmit="return check(this)" >
        {% csrf_token %}

        <div id="content">
            <div id="content1">
                <p id="logo">Login</p>
                E-mail Id:<br />
                <input type="email" name="email" id="email" />
                <br />
                Password:<br />{{message}}
                <input type="password" name="pass" id="pass"/>
                 <br />
                <div id="but"><br />
                <input type="submit" value="Login" />
                <br />
                </div>
                <br />
                <a href="{% url 'register:register_form' %}">Singup</a>
                <br />
                <br />
                <a href="{% url 'register:forget_password' %}">Forget Password?</a>
                <br />

            </div>
        </div>
    </form>

</div>
</body>
<script type="text/javascript">
    function check(form)
    {
        email = document.getElementById("email");
        pass = document.getElementById("pass");
        if(form.email.value == "" && form.pass.value == "")
        {
            M.toast({html : 'You should details before login'});
            return false;
        }
        if(form.pass.value.length < 8)
        {

            M.toast({html: 'Password must contain at least eight characters!'});
            form.pass.focus();
            return false;
        }
        n = /[0-9]/;
        if(!n.test(form.pass.value))
        {

            M.toast({html: 'Password must contain at least one number (0-9)!'});
            form.pass.focus();
            return false;
        }
        n = /[a-z]/;
        if(!n.test(form.pass.value))
        {

            M.toast({html: 'Password must contain at least one lowercase letter (a-z)!'});
            form.pass.focus();
               return false;
        }
        n = /[A-Z]/;
        if(!n.test(form.pass.value))
        {

            M.toast({html: 'Password must contain at least one uppercase letter (A-Z)!'});
            form.pass.focus();
            return false;
        }
        else
        {
            return true;
        }
    }

</script>
</html>