<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<body>
    <div id="header"><span id="title"></span>
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">
    <form method="POST" action="/register/register/reset_password/" onsubmit="return check(this)">
        {% csrf_token %}
        <div id="content">
            <div id="content1">
                <p id="logo1">Reset Password</p>
                OTP:<br />
                <input type="text" name="otp" id="otp" />
                <br />
                Password:<br />
                <input type="password" name="pass" id="pass"/>
                <br />
                Password Confirmation:<br />
                <input type="password" name="con" id="con" />
                <br />
                <div id="but"><br />
                <input type="submit" value="Continue" />
                <br />
                </div>
                <br />
                <a target="_blank" href="/register/register/reset_password/">Resend OTP</a>
                <br />
            </div>
        </div>
    </form>
</body>
<script type="text/javascript">
    function check(form)
    {
        otp = document.getElementById("otp");
        pass = document.getElementById("pass");
        con = document.getElementById("con");
            if(form.otp.value == "" && form.pass.value == "" && form.con.value == "")
            {

                M.toast({html: 'Please enter details'});
                form.pass.focus();
                return false;
            }
            if(form.pass.value == "" && form.con.value == "")
            {

                M.toast({html: 'Enter Password'});
                form.pass.focus();
                return false;
            }
            if(form.pass.value.length < 8)
            {

                M.toast({html: 'Password must contain at least eight characters!'});
                form.pass.focus();
                return false;
            }
            n = /[0-9]/;
            if(!n.test(form.pass.value))
            {

                M.toast({html: 'Password must contain at least one number (0-9)!'});
                form.pass.focus();
                return false;
            }
            n = /[a-z]/;
            if(!n.test(form.pass.value))
            {

                M.toast({html: 'Password must contain at least one lowercase letter (a-z)!'});
                form.pass.focus();
                   return false;
            }
            n = /[A-Z]/;
            if(!n.test(form.pass.value))
            {

                M.toast({html: 'Password must contain at least one uppercase letter (A-Z)!'});
                form.pass.focus();
                return false;
            }
            if(form.pass.value != form.con.value)
            {
                M.toast({html: 'Password mismatch'});
                form.pass.focus();
                return false;
            }

    }

</script>
</html>